<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.assetsmanagement">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".AssetManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/supplies"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/supplies_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:authorities="com.example.administrator.assetsmanagement"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />

        </provider>
        <activity
            android:name=".FlashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterAssetsActivity"/>
        <activity android:name=".activity.SearchAssetsActivity"/>
        <activity android:name=".activity.ManageAssetsActivity"/>
        <activity android:name=".activity.LocationSettingActivity"/>
        <activity android:name=".activity.DepartmentSettingActivity"/>
        <activity android:name=".activity.PersonSettingActivity"/>
        <activity android:name=".activity.CategorySettingActivity"/>
        <activity android:name=".activity.SelectedTreeNodeActivity"/>
        <activity android:name=".activity.SelectAssetsPhotoActivity"/>
        <activity android:name=".activity.AssetPictureActivity"/>
        <activity android:name=".activity.AssetsTurnOverActivity"/>
        <activity android:name=".activity.AssetRepairActivity"/>
        <activity android:name=".activity.AssetLoseActivity"/>
        <activity android:name=".activity.AssetBaofeiActivity"/>
        <activity android:name=".activity.ManagerListActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".RegisterManagerActivity"/>
        <activity android:name=".activity.AssetReceiverActivity"/>
        <activity android:name=".activity.CustomScanActivity"/>
        <activity android:name=".activity.SingleAssetInfoActivity"/>
        <activity android:name=".activity.RepairPWActivity"/>
        <activity android:name=".activity.UpdateMyInfo"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".activity.SingleAssetTransferActivity"/>
        <activity android:name=".activity.MyAssetListActivity"/>
        <activity android:name=".activity.ApprovalAssetActivity"/>
        <activity android:name=".activity.MakingLabelActivity"/>
        <activity android:name=".activity.QueryAssetsActivity"/>
        <activity android:name=".activity.AssetsListActivity"/>
    </application>

</manifest>